<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA42nVIAuV7FRYTjTr2o4HSQVvNDnMLw8o</string>
	<key>GCM_SENDER_ID</key>
	<string>983505687571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ShishaRecipe</string>
	<key>PROJECT_ID</key>
	<string>shisharecipe</string>
	<key>STORAGE_BUCKET</key>
	<string>shisharecipe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983505687571:ios:410d0c1dec6b1f8b011be6</string>
</dict>
</plist>